---
import { getCollection } from "astro:content";
import BlogCard from "@/components/cards/BlogCard.astro";
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/container.astro";
import Sectionhead from "@/components/sectionhead.astro";
import blogData from "@/data/blog.json";

// Filter blog entries with 'draft: false' & date before current date
const publishedBlogEntries = await getCollection("blog", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});

// Sort content entries by publication date
publishedBlogEntries.sort(function (a, b) {
  return b.data.publishDate.valueOf() - a.data.publishDate.valueOf();
});
---

<Layout title="Blog">
  <Container>
    <Sectionhead>
      <Fragment slot="title">{blogData.title}</Fragment>
      <Fragment slot="desc">
        {blogData.description}
      </Fragment>
    </Sectionhead>
    <main class="mt-16">
      <ul class="grid gap-16 max-w-4xl mx-auto">
        {publishedBlogEntries.map((blogPostEntry, index) => (
          <li>
            <BlogCard
              href={`/blog/${blogPostEntry.slug}`}
              image={blogPostEntry.data.image}
              category={blogPostEntry.data.category}
              title={blogPostEntry.data.title}
              author={blogPostEntry.data.author}
              publishDate={blogPostEntry.data.publishDate}
              index={index}
            />
          </li>
        ))}
      </ul>
    </main>
  </Container>
</Layout>
