---
import { getCollection } from "astro:content";
import JobCard from "@/components/cards/JobCard.astro";
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/container.astro";
import Sectionhead from "@/components/sectionhead.astro";
import careersData from "@/data/careers.json";

// Filter careers entries with 'draft: false' & date before current date
const publishedCareersEntries = await getCollection("careers", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});

// Sort content entries by publication date
publishedCareersEntries.sort(function (a, b) {
  return b.data.publishDate.valueOf() - a.data.publishDate.valueOf();
});
---

<Layout title="Careers">
  <Container>
    <Sectionhead>
      <Fragment slot="title">{careersData.title}</Fragment>
      <Fragment slot="desc">
        {careersData.description}
      </Fragment>
    </Sectionhead>
    <main class="mt-16">
      <ul class="grid gap-16 max-w-4xl mx-auto">
        {publishedCareersEntries.map((jobEntry, index) => (
          <li>
            <JobCard
              href={`/careers/${jobEntry.slug}`}
              image={jobEntry.data.image}
              department={jobEntry.data.department}
              title={jobEntry.data.title}
              location={jobEntry.data.location}
              jobType={jobEntry.data.jobType}
              publishDate={jobEntry.data.publishDate}
              index={index}
            />
          </li>
        ))}
      </ul>
    </main>
  </Container>
</Layout>